<template name="authOverlay">
  <div class="overlay auth">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay"></div>
      <a href="admin" class="btn-primary">ADMIN</a>
      <img src={{current.services.twitter.profile_image_url_https}}>
    </div>

    
    <button class="js-signin btn-twitter">
        <img src={{current.services.twitter.profile_image_url_https}}>
        Logged in as {{current.services.twitter.screenName}}<br>CHANGE LOGIN
      </button>
  </div>
</template>