<template name="nav">
  <nav class="black">
      
    <div class="nav-group">
      {{#if back}}
        <a class="nav-item js-back" href="#"><span class="icon-arrow-left-alt"></span></a>
        
      {{else}}
        <a class="nav-item js-menu" href="#"><span class="icon-menu"></span></a>
      {{/if}}
    </div>

    <div class="title-page">
        {{#each cupinfo year}}
        {{T1}} {{T1pts}} {{T2pts}} {{T2}}
        <span class="subtext-page">{{description}}</span>
        {{/each}}
    </div>
    <div class="nav-group right">
        <select class="currentyear2 styled-select rounded" id="currentyear2">
                {{#each getcups}}
            <option value={{this.year}} {{iscurrentyear this.year}}>{{this.year}}</option>
                {{/each}}
        </select>
        
      {{> Template.contentBlock }}
    </div>
  </nav>
</template>