<template name="overlay2">
    <div class="overlay share">

        <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>
        <div class="wrapper-heading">
          <div class="title-overlay">{{description}}</div>
          <div class="subtitle-overlay">{{{format}}}</div>
        </div>

        <div class="wrapper-camera">
          <span class="icon-cup"></span>
          <div class="subtext-camera">{{long}}, {{year}}</div>
        </div>
        
    </div>
</template>